.Blog ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.Blog li {
  display: inline-block;
  margin: 1em;
}

.Blog a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s;
}

.Blog a:hover,
.Blog a:focus {
  color: #5bc67c;
}

.Blog a:active {
  color: #316b43;
}

.Blog a.active {
  color: orange;
}
